.coin_container {
  display: flex;
  justify-content: center;
}

.coin_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #D0E6F0;
  width: 1000px;
  padding: 0rem 2rem;
}

.coin_row:hover {
  background: #F88379;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  font-weight:bold;
  color:#D0E6F0;
}

.coin_img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin_h1 {
  font-size: 16px;
  width: 150px;
  font-weight:bold;
}

.coin_symbol {
  text-transform: uppercase;
  font-weight:bold;
  color:#D0E6F0;
}

.coin_data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
  font-weight:bold;
 color:#D0E6F0;
}

.coin_price {
  width: 110px;
  font-weight:bold;
  font-color:#D0E6F0;
}

.coin_volume {
  width: 155px;
  font-weight:bold;
  font-color:#D0E6F0;
}

.coin_marketcap {
  width: 230px;
  font-weight:bold;
  font-color:#D0E6F0;
}

.coin_percent {
  width: 100px;
  font-weight:bold;
  font-color:#D0E6F0;
}

.red {
  color: #ff0015;
  font-weight:bold;
}

.green {
  color: #00ff25;
  font-weight:bold;
}
